<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/ecoweb.jpg" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="assets/css/theStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&effect=anaglyph|3d|3d-float">
    <link href='https://fonts.googleapis.com/css?family=Coda&effect=3d-float|3d|emboss' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Andada&effect=outline|3d|3d-float|shadow-multiple|emboss|putting-green|mitosis' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Tangerine&effect=3d' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa&effect=3d-float|mitosis' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dosis&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Faustina&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Hepta+Slab&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jura&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lemonada&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Literata&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Manuale&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Ruda&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn&effect=3d|3d-float' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&effect=3d|3d-float' rel='stylesheet'>
</head>
<body style="background-image: url('assets/images/ecowebg.jpg');">
    <div id="app">
        <div class="container">
            <div class="row no-gutters text-center over-nav" id="overNav">
                <div class="col-md-3">
                    <a href="tel:+1-303-499-7111" class="w3-text-sand">Sample</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:+1-303-499-7111" class="w3-text-black">096980899</a>
                </div>
                <div class="col-md-3">
                    <a href="mailto:sample@gmail.com" class="w3-text-black">sample.gmail.com</a>
                </div>
                <div class="col-md-3">
                    <a href="mailto:sample@gmail.com" style="font-weight: bold;" class="text-light btn btn-primary">Facebook</a>
                </div>
            </div>
        </div>
        <nav id="navbar" class="navbar navbar-expand-md navbar-light sticky-top m-0">
<!--            <a style="font-family: 'Andada', serif;" class="navbar-brand font-effect-3d text-white" href="#">Navbar</a>-->
            <a class="navbar-brand p-0 font-effect-3d" style="font-family: 'Vollkorn';color: ghostwhite" href="{!! route('home') !!}">
                <img src="assets/images/ecoweb.png" id="brand" class="brand m-0" style="height:40px;font-family: 'Andada', serif;" alt="">
<!--                INNWA IT & MOBILE-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" data-spy="scroll" data-offset="0" id="navbarContent">
                <ul class="navbar-nav mx-auto nav-color" id="nav-color">
                    <li class="nav-item active">
                        <a style="font-family: 'Playfair Display', serif;font-weight:bold;font-style: italic;" class="nav-link font-effect-3d text-dark" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-family: 'Playfair Display', serif;font-style: italic;font-weight:bold" class="nav-link text-dark font-effect-3d" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-family: 'Playfair Display', serif;font-weight:bold;font-style:italic;" class="nav-link text-dark font-effect-3d" href="#">Dask</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-family: 'Playfair Display', serif;font-style: italic;font-weight:bold;" class="nav-link text-dark font-effect-3d" href="#">Dask</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-family: 'Playfair Display', serif;font-weight:bold;font-style:italic;" class="nav-link text-dark font-effect-3d" href="#">Hack</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a onmouseover="dropdownShow('dropdown-menu')" onmouseleave="dropdownHide('dropdown-menu')" style="font-family: 'Oswald', serif;font-weight:700;" class="nav-link font-effect-3d text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div onmouseover="dropdownShow('dropdown-menu')" onmouseleave="dropdownHide('dropdown-menu')" style="font-family: 'Playfair Display',serif;background-color: rgb(76,78,93);" class="dropdown-menu rounded dropdown-menu-link font-effect-3d-float mt-0 p-0" id="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light rounded" href="#">Action</a>
                            <a class="dropdown-item text-light rounded" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-light rounded" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a style="font-family: 'Playfair Display', serif;font-style: italic;font-weight:bold;" class="nav-link font-effect-3d text-dark" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 search" id="search">
                    <input class="form-control mr-sm-2 text-light" type="search" style="box-shadow: none;" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success shadow-sm my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    <main class="py-4">
        <div class="row no-gutters">
            <div class="col-md-8 mx-auto mt-5 web-business" style="color: antiquewhite;font-family:'Rancho';font-size:16px;text-shadow:1px 0 1px rgba(255,255,255,0.72);">
                    <h4 class="text-center web-business-head">IT & MOBILE</h4>
                <p class="text-justify p-3 text-monospace web-business-text">
                    Hello Everyone ! We have a good new. Do you want to advertise your business and
                    let the people notice about your business more and more? We are here to support IT relating services
                    for you. If you want to run your business widely with partners and get the customers from all over the world,
                    you must have your own website on the internet to advertise your brand and business.
                    Because nowadays almost everyone works on the Internet. Advertisements on TV or in newspaper are expensive and
                    cannot attract the young people though. So website become the most popular way to approach the customers.
                    Website is an internet workplace from which people can get informations about your business clearly and easily.
                    That is why, don't you think that you need a website? Contact us for more details. Warmly welcome for your inquiry.
                </p>
            </div>
        </div>
        <div class="container text-center">
            <div class="bounce mx-auto" id="bounce">
                <a class="fa fa-arrow-down fa-2x" style="text-decoration: none;"></a>
            </div>
<!--            <div class="mx-auto">-->
<!--                <img src="assets/images/scrollDown2.gif" class="brand m-0 text-danger" style="height:80px;font-family: 'Andada', serif;" alt="">-->
<!--            </div>-->
        </div>
            <div id="galleryShow" class="carousel slide img-fluid galleryShow" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#galleryShow" data-slide-to="0" class="active"></li>
                    <li data-target="#galleryShow" data-slide-to="1"></li>
                    <li data-target="#galleryShow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/slideshow/ecowebg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/slideshow/ecowebg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/slideshow/ecowebg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#galleryShow" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#galleryShow" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        <div class="container mt-5">
            <div id="dynContentOne" class="card mb-3" style="max-width: 540px;margin-top:100px;background-color: rgba(244,244,244,0.2)">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/ecoweb.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dynContentTwo"  class="card mb-3 ml-auto" style="max-width: 540px;margin-top:100px;background-color: rgba(244,244,244,0.2)">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/ecoweb.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="assets/js/theScript.js"></script>
</body>
</html>
